// Rem output with px fallback

@mixin font-size($sizeValue: 16){
	font-size: ($sizeValue) * 1px;
	font-size: ($sizeValue/10) * 1rem;
}


// @mixin font-size($sizeValue: 1) {
// 	font-size: ($sizeValue * 16) * 1px;
// 	font-size: $sizeValue * 1rem;
// }

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

//for appending image to menu items
@mixin menuImg($bgURL) {
	content: '';
	background: url($bgURL) no-repeat;
	background-size: contain;
	width: 43px;
	height: 47px;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 12px;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}