#brampton, #etobicoke{
	padding: 0 20px;
	.branch-map{
		float: right;
		min-width: 450px;
		height: 300px;
		@include bp(max, 793px){
			min-width: 300px;
		}
		@include bp(max, 645px){
			width: 100%;
		}
	}
	.branch-address{
	float: left;
	color: lighten($grey, 20%);
	@include font-size(16);
	@include bp(max, 645px){
		width: 100%;
	}
	h2{
		@include font-size(16);
		text-transform: uppercase;
		margin-bottom: 5px;
		margin-top: 0;
	}
	address{
		font-style: normal;
		margin-bottom: 10px;
	}
	.phone, .email{
		margin-bottom: 10px;
		p{
			margin: 0;
			padding: 0;
		}
		a{
			color: #B65E5D;
		}
	}
	}

}
#etobicoke{
	display: none;
	@include bp(max, 40em){
		display: block;
	}
}


