header{
	position: fixed;
	background: url(img/topbanner-BG.png);
	z-index: 99999;
	width:100%;
	min-height:89px;
}



.wrapper{
	max-width: 1100px;
	margin: 0 auto;
	// @include clearfix();
}

// custom navigation images



.main-nav{
	padding-top: 10px;
	background-image: url(img/topbanner-BG.png);
	.site-branding{
		h1{
			margin: 0;
			a {
				display:block;
				text-align:center;
			}
		}
	}
	.mobile-navigation {
		display:none;
		@include font-size(40);
		margin-top:22px;
		text-align:center;
		a {
			color:white;
		}
		@include bp(max, 730px) {
			display:block;
		}
	}
	.main-navigation{
		.claims .menu-icon{
			@include menuImg('img/claims.png');
		}
		.service-request .menu-icon{
			@include menuImg('img/service-request.png');
		}
		.contact-us .menu-icon{
			@include menuImg('img/contact-us.png');
		}
		.request-quote .menu-icon{
			@include menuImg('img/request-quote.png');
		}
		.sign-in .menu-icon{
			@include menuImg('img/log-in.png');
		}
		ul {
			padding-top:7px;
		}
		li{
			width: 20%;
			// text-align: center;
			&:hover{
				border-bottom: 2px solid rgba(255,191,56,0.76);
				box-shadow: 0 10px 8px -5px rgba(0,0,0,0.5);
			}
			a{
				color: $off-white;
				line-height: 1;
				padding-bottom: 20px;
				font-weight: 500;
				// @include font-size(14);

				.menu-item {
					height: 100%;
				    position: relative;
				    font-size: 15px;
				    display: block;
				    text-align: left;

				    .menu-icon {
						display: inline-block;
	    				padding: 14px 20px;
					}
					.menu-text {
						display: block;
					    vertical-align: bottom;
					    position: absolute;
					    bottom: 0px;
					    line-height: 15px;
					    padding-left: 48px;
					    padding-right: 10px;
					}
				}
			}

			&.claims a .menu-item .menu-text, &.sign-in a .menu-item .menu-text {
					bottom:8px;
				}
		}

		@include bp(max, 730px) {
			display:none;
		}
	}
	.search-container{
		position: relative;
		padding-top: 20px;
		.search_icon{
			height: 32px;
			width: 32px;
			background: url('img/icon-search.png') no-repeat;
			display: block;
			position: absolute;
			top: 28px;
			left: 12px;
		}
		input{
			width: 100%;
			border: none;
			padding: 4px 4px 4px 40px;
			box-shadow: inset 0px 1px 10px #303030;
			@include bp(medium) {
				font-size:13px;
			}
		}
		
		@include bp(max, 730px) {
			display:none;
		}
	}	
}

.claims .menu-text, .sign-in .menu-text {
	bottom:8px;
}

// secondary navigation

.secondary-nav{
	padding-bottom: 20px;
	box-shadow: 1px 10px 10px rgba(46, 46, 46, 0.5);
	.menu{
		width: 35%;
		float: left;
		li{	
			display: inline-block;
			width: 50%;
			a{
				color: $grey;
				display: inline-block;
				transition: color 0.5s;
				&:hover{
					border-bottom: 2px solid rgba(255,191,56,0.76);
				}
			}
		}
		.personal{
			position: relative;
			top: 25px;
		}
		.personal a, .commercial a{
			border-bottom: 2px solid transparent;
		}
		.personal:before{
			@include menuImg('img/personal.png');
			width: 68px;
		}
		.commercial:before{
			@include menuImg('img/commercial.png');
			height: 70px;
			width: 73px;
		}
	}
	.menu-info-container{
		width: 65%;
		float: right;
		ul{
			width: 100%;
			padding-top: 50px;
			text-align: center;
			li{
				width: 20%;
			}
		}
	}

	@include bp(small) {
		display:none;
	}
}

.mobile-nav {
	display:none;
	position: absolute;
	top:128px;
    background-color: white;
    width: 100%;
    padding: 20px;
    z-index:999;

    .claims::before{
		@include menuImg('img/mobile-speechbubble.png');
		
	}
	.service-request::before{
		@include menuImg('img/mobile-envelope.png');
	}
	.contact-us::before{
		@include menuImg('img/mobile-marker.png');	
	}
	.request-quote::before{
		@include menuImg('img/mobile-calculator.png');
	}
	.sign-in::before{
		@include menuImg('img/mobile-login.png');
	}
	.personal:before{
		@include menuImg('img/mobile-personal.png');
		width: 68px;
	}
	.commercial:before{
		@include menuImg('img/mobile-commercial.png');
		height: 70px;
		width: 73px;
	}

	ul {
		list-style:none;
		margin:0;
		padding:0;

		li a {
			@include font-size(25);
			position:relative;
			top:-10px;
		}
	}

	.search-container input {
		width:100%;
	}
}



