body {
	background-image: url(img/main-BG.png);
}

a{
	text-decoration: none;
}

input{
	box-shadow: inset 0px 0px 10px rgb(216, 216, 216);
	@include font-size(16);
	padding: 10px;
	border-radius: 4px;
	border: none;
	font-weight: 200;
}

#content{
	padding-top: 150px;
}

.content-area {
	background: url(img/topbanner-BG.png);
	padding: 60px 0 40px 0;
}

.content-box{
	background: white;
	max-width: 940px;
	margin: 0 auto;
	margin-bottom: 0;
	padding-bottom: 40px;
	h3{
		text-transform: uppercase;
		@include font-size(18);
	}
	a{
		color: lighten($grey, 30%);
	}
	a:hover{
		border-bottom: 2px solid rgba(255, 191, 56, 0.76);
	}
	.page-heading{
		text-transform: uppercase;
		padding: 10px 30px;
		box-shadow: 1px 4px 5px rgb(210, 210, 210);
		h2{
			float: left;
			font-weight: 200;
			@include font-size(28);
			margin: 0;
			a:hover{
				border: none;
			}
			clear:none;
			span {
				margin:0 20px;
			}
		}
		p{
			float: right;
			margin: 0;
			position: relative;
			top: 10px;
			a{
				color: lighten($grey, 30%);
			}
		}
	}
	.entry-content {
		padding:0 60px;

		ul {
			margin:20px;
		}
	}
}

.archive-list:nth-child(2n+1){
	background: #FAF4F4;
}

.entry-submenu-holder {
	float:right;
	position:relative;

	.entry-submenu-button {
		@include font-size(28);
		color: $color__text-main;
	}

	.entry-submenu {
		position: absolute;
		box-shadow: 1px 1px 10px 1px rgb(210, 210, 210);
		right:0;
		background:white;
		padding:10px 20px;
		display:none;
		&.personal {
			width:210px;
		}
		&.commercial {
			width:280px;
		}
		ul {
			list-style-type:none;
			margin:0;
			padding:0;

			li {

				padding:5px;

				ul {
					margin-left:15px;
				}

				a {
					color: lighten($grey, 30%);
					@include font-size(16);
					width:100%;
					display:block;

					&:hover{
						border-bottom:none;
						span {
							border-bottom: 2px solid rgba(255, 191, 56, 0.76);
						}
					}
				}

				&.current_page_item {
					a span {
						border-bottom: 2px solid rgba(255, 191, 56, 0.76);
					}

					li a span {
						border-bottom:none;
					}
				}
			}
		}
	}
}

.next-posts-links{
	float: right;
	padding-bottom: 20px;		
	.nav-previous, .nav-next{
	margin-right: 20px;
	} 
}

