body, .secondary-nav {
	background-image: url(img/main-BG.png);
}

a{
	text-decoration: none;
}

input{
	box-shadow: inset 0px 0px 10px rgb(216, 216, 216);
	@include font-size(16);
	padding: 10px;
	border-radius: 4px;
	border: none;
	font-weight: 200;
}

#content{
	padding-top: 89px;
	position: relative;
	height:100%;
	width:100%;
	@include bp(small) {
		padding-top:128px;
	}
}

.content-area {
	background: url(img/topbanner-BG.png);
	padding: 10px 0 32px 0;

	@include bp(small) {
		padding:0;
	}
}

.entry-title {
	.mobile {
		display:none;
		@include bp(small) {
			display:block;
		}
	}

	.desktop {
		@include bp(small) {
			display:none;
		}
	}
}

.content-box{
	background: white;
	max-width: 1100px;
	margin: 0 auto;
	margin-bottom: 0;
	padding-bottom: 1px;
	position:relative;
	#content-cursor {
		background:url('img/cursor-content.png');
		height:56px;
		bottom: -55px;
	    left: 11111205px;
	    width: 77px;
		position:absolute;

		@include bp(small) {
			display:none;
		}
	}
	h3{
		text-transform: uppercase;
		@include font-size(18);
	}
	a{
		color: lighten($grey, 30%);
	}
	a:hover{
		border-bottom: 2px solid rgba(255, 191, 56, 0.76);
	}
	.page-heading{
		text-transform: uppercase;
		padding: 10px 30px;
		box-shadow: 1px 4px 5px rgb(210, 210, 210);
		h2{
			float: left;
			font-weight: 200;
			@include font-size(28);
			margin: 0;
			word-wrap: break-word;
			a:hover{
				border: none;
			}
			clear:none;
			span {
				margin:0 20px;

				&.pageParents {
					margin:0;

					@include bp(small) {
						display:none;
					}
				}
			}
		}
		p{
			float: right;
			margin: 0;
			position: relative;
			top: 10px;
			a{
				color: lighten($grey, 30%);
			}
		}

		#desktop-sub-menu ul {
			list-style:none;
			float: left;
			margin:0;

			li {
				float:left;
				padding:10px 25px;
				background: url(img/card_nav-bullet.png) -6px -10px no-repeat;
				position:relative;

				&:first-of-type {
					background:none;
				}


				&.current_page_item, &.current_page_ancestor {
					a span {
						border-bottom: 2px solid rgba(255, 191, 56, 0.76);
					}

					li a span {
						border-bottom:none;
					}
				}

				ul.sub-menu {
					display:none;
					position:absolute;
					box-shadow: 1px 1px 10px 1px rgb(210, 210, 210);
					left:20px;
					top:40px;
					background:white;
					padding:5px 10px;


					li {
						float:none;
						padding:5px 10px;
						background:none;
					}

					&.current_page_item {
						a span {
							border-bottom: 2px solid rgba(255, 191, 56, 0.76);
						}
					}
				}
			}
		}


	}
	.entry-content {
		padding:0 30px;
		overflow:scroll;

		ul {
			margin:20px;
		}
	}
}

.archive-list:nth-child(2n+1){
	background: #FAF4F4;
}

#desktop-sub-menu {
	display:block;
	@include bp(small) {
		display:none;
	}
}

.entry-submenu-holder {
	display:none;
	float:right;
	position:relative;
	@include bp(small) {
		display:block;
	}

	.entry-submenu-button {
		@include font-size(28);
		color: $color__text-main;
	}

	.entry-submenu {
		position: absolute;
		box-shadow: 1px 1px 10px 1px rgb(210, 210, 210);
		right:0;
		background:white;
		padding:10px 20px;
		display:none;
		&.personal {
			width:210px;
		}
		&.commercial {
			width:280px;
		}
		ul {
			list-style-type:none;
			margin:0;
			padding:0;

			li {

				padding:5px;
				float:none;

				ul.sub-menu {
					margin-left:15px;
					display:block;
				}

				a {
					color: lighten($grey, 30%);
					@include font-size(16);
					width:100%;
					display:block;

					&:hover{
						border-bottom:none;
						span {
							border-bottom: 2px solid rgba(255, 191, 56, 0.76);
						}
					}
				}

				&.current_page_item {
					a span {
						border-bottom: 2px solid rgba(255, 191, 56, 0.76);
					}

					li a span {
						border-bottom:none;
					}
				}
			}
		}
	}
}


.next-posts-links{
	float: right;
	padding-bottom: 20px;		
	.nav-previous, .nav-next{
	margin-right: 20px;
	} 
}

section.not-found{
	margin-top: 20px;
	padding: 20px;
}

//make scrollbar visible
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    margin-top: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}